version: '3'
services:
 symfonyweb:
   build:
    context: 'php'
    dockerfile: Dockerfile    
   ports:
      - "8086:80"
   volumes:
      - /home/guille/www/html/atrinium:/var/www/html/atrinium/
 mysqlDB:
    image: mysql:5.7.33
    restart: always
    environment:
         MYSQL_ROOT_PASSWORD: root
         MYSQL_DATABASE: dbGuille
    volumes:
     - ./mysql-data:/var/lib/mysql
 phpmyadmin:
    image: phpmyadmin
    depends_on:
      - mysqlDB
    environment:
          - PMA_ARBITRARY=1
    ports:
        - "8087:80"
