index:
    path: /
    controller: App\Controller\DashboardController::index

dashboard:
    path: /dashboard
    controller: App\Controller\DashboardController::index
    
empresa:
    path: /empresa
    defaults: { _controller: App\Controller\EmpresaController::index }

new_empresa:
    path: /empresa/new
    controller: App\Controller\EmpresaController::new

edit_empresa:
    path: /empresa/update/{id}
    controller: App\Controller\EmpresaController::update
    
delete_empresa:
    path: /empresa/delete/{id}
    controller: App\Controller\EmpresaController::delete
    
empresa_cliente:
    path: /empresa/empresaporcliente
    controller: App\Controller\EmpresaController::empresaporcliente
    
sector:
    path: /sector
    controller: App\Controller\SectorController::index
    
new_sector:
    path: /sector/new
    controller: App\Controller\SectorController::new

edit_sector:
    path: /sector/update/{id}
    controller: App\Controller\SectorController::update
delete_sector:
    path: /sector/delete/{id}
    controller: App\Controller\SectorController::delete    
asociar:
    path: /sector/asociar
    controller: App\Controller\SectorController::asociar   
cliente_sector:
    path: /sector/sectorporcliente
    controller: App\Controller\SectorController::sectorporcliente
    
usuario:
    path: /usuario
    controller: App\Controller\UsuarioController::index
usuario_alta_cliente:
    path: /usuario/altaCliente
    controller: App\Controller\UsuarioController::altaCliente
usuario_alta_admin:
    path: /usuario/altaAdmin
    controller: App\Controller\UsuarioController::altaAdmin
edit_usuario:
    path: /usuario/update/{id}
    controller: App\Controller\UsuarioController::update
delete_usuario:
    path: /usuario/delete/{id}
    controller: App\Controller\UsuarioController::delete
    
    
moneda:
    path: /moneda
    controller: App\Controller\MonedaController::index
    
moneda_convertir:
    path: /moneda/convertir
    controller: App\Controller\MonedaController::convertir